.site-card-wrapper {
    padding: 30px;
    background: #ececec;
}
.spin {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.button {
    margin: 16px 24px 16px 0;
    float: right;
}